.sacola {
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right;

  font-size: 14px;
  padding-right: 35px;
  text-align: right;
  width: 140px;
}

img {
  width: inherit;
  height: inherit;
}

.menu-opcoes ul {
  font-size: 15px;
}
.menu-opcoes a {
  color: #036;
}
body {
  color: #333;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.busca,
.menu-departamentos {
  background-color: #dcdcdc;
  font-weight: bold;
  text-transform: uppercase;

  margin-right: 10px;
  width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
  margin: 10px;
}

.menu-departamentos li {
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 10px;
}

.menu-departamentos a {
  color: #333;
  text-decoration: none;
}

.busca input [type="search"] {
  width: 170px;
}

.busca,
.menu-departamentos {
  float: left;
}

.menu-departamentos {
  clear: left;
}

.destaque {
  margin-top: 10px;
}

.menu-departamentos {
  margin-top: 10px;
  padding-bottom: 10px;
}

.painel {
  margin: 10px 0;
  padding: 10px;
  width: 445px;
}

.novidades {
  float: left;
}

.mais-vendidos {
  float: right;
}
.painel li {
  display: inline-block;
  vertical-align: top;
  width: 140px;
}
.painel h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.painel a {
  color: #0333;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.novidades {
  background-color: #f5dcdc;
}

.mais-vendidos {
  background-color: #dcdcf5;
}

footer {
  background-image: url(../img/fundo-rodape.png);
}
.social a {
  height: 32px;
  width: 32px;
  display: block;
  text-indent: -9999px;
}

.social a[href*="facebook.com"] {
  background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
  background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
  background-image: url(../img/googleplus.png);
}

footer {
  clear: both;
}

footer {
  padding: 20px 0;
}
footer .container {
  position: relative;
}

footer .container img {
  width: 150px;
}

.social {
  position: absolute;
  top: 12px;
  right: 0;
}

.social li {
  float: left;
  margin-left: 25px;
}

.menu-opcoes a:hover {
  color: #007dc6;
}

.menu-opcoes a:active {
  color: #867dc6;
}

.menu-departamentosli ul {
  display: none;
}

.menu-departamentos li:hover ul {
  display: block;
}

.menu-departamentos ul ul li {
  background-color: #dcdcdc;
}

.menu-departamentos li li a:before {
  content: "-";
}

.painel {
  border-radius: 4px;
  box-shadow: inset 1px 1px 4px #999;
}

.painel h2 {
  text-shadow: 3px 3px 2px #fff;
  text-shadow: 3px 3px 2px rgba(green, blue, alpha);
}

.busca {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.novidades {
  background: linear-gradient(#f5dcdc, #bebef4);
}

.mais-vendidos {
  background: linear-gradient(#dcdcf5, #f4bebe);
}

.painel li:hover {
  box-shadow: 0 0 5px #333;
  transition: box-shadow 0 7s;
}
.painel li:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px #333;
  transition: 0.7s;
}

/* .painel:hover {
  transform: scale(1.2);
}

.painel li:hover {
  transform: scale(1.2) rotate(-5deg);
}
 */
.painel li:hover {
  transition: 0.7s ease-in;
}

.destaque {
position:relative;
}

.pause,
.play{
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
}


.pause {
  border-left:  10px solid #900;
  border-right: 10px solid #900;
 height: 30px;
 width: 5px;
}

.play {
  border-left: 25px solid #900;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
}



.painel li:nth-child(n+7) {
  display: none;
}

.painel-aberto li:nth-child(n+7) {
display: inline-block;
}

.painel button {
  float: right;
  margin-right: 10px;
  padding: 10px;


background-color: #333;
border: 0;
border-radius: 4px;
box-shadow: 1px 1px 3px rgba (30,30,0.5);
color: white;
font-size: 1em;
text-decoration: none;
text-shadow: 1px 0 1px black;

transition: 0.3s;
}

.painel button :hover {
  background-color: #393939;
  box-shadow: 1px 0 20px rgba ( 200,200,120, 0.9);
}
/* cyrillic-ext */
@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/badscript/v17/6NUT8F6PJgbFWQn47_x7pOYkzO1A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/badscript/v17/6NUT8F6PJgbFWQn47_x7pO8kzO1A.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/badscript/v17/6NUT8F6PJgbFWQn47_x7pOQkzO1A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/badscript/v17/6NUT8F6PJgbFWQn47_x7pOUkzO1A.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/badscript/v17/6NUT8F6PJgbFWQn47_x7pOskzA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0-ExdGM.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0aExdGM.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0yExdGM.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0KExQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
  font-family: 'PT Sans', sans-serif;
}

.painel h2{
font-family: 'Bad Script', 'sans-serif';
}